<!DOCTYPE html>
<html>

<head lang="eng-US">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Shrill Shrestha</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="welcome">
        <div class="navBar">
            <a href="/"><strong>~</strong></a>
            <strong class="openbtn"><a href="javascript:void(0)" onclick="openNav()"> + </a></strong>
        </div>

        <div id="myNav" class="overlay">
            <strong><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">-</a></strong>
            <div class="overlay-content">
              <a href="/">HOME</a>
              <a href="/about">ABOUT</a>
              <a href="#">BLOG</a>
              <a href="#">PROJECT</a>
              <a href="#">CONTACT</a>
            </div>
        </div>