<%- include("./partials/header") %>
    <div class="row">
        <div class="artfolio artfolio-abt">
            <div class="flexB1">
                <div class="life-img">
                    <div class="img2">
                        <img class="img-in" src="/resources/image.png" alt="guy">
                    </div>
                </div>
            </div>
        </div>  
    
        <div class="intro intro-abt">
            <p class="para">
                Hi, My name is Shrill Shrestha. I am a computer science student seeking opportunities to learn and create an impact in the society.
                <br><br>
                I am pursuing my undergraduate degree (Honors) at University of Louisiana at Monroe. I am an active member of ACM and Upsilon Pi Epsilon 
                 through which I get to involve in different programs on campus. 
                <br><br>
                I am always intrigued by the world of problem-solving. I am always ready to learn and work on new ideas.
                I also like teaching other and helping them in the journey of coding. 
                <br><br>
                <b>Happy Coding!!! </b>
            </p>
        </div>
    </div>

<%- include("./partials/footer") %>
