<%- include("./partials/header") %>
    <div class="row">
        <div class="intro">
            <div class="indent-intro">
                <strong class="intro-name"> HI, I'M SHRILL SHRESTHA.</strong> 
                <p class="intro-para">I'M A COMPUTER SCIENCE STUDENT IN MONROE, LA. WELCOME TO MY PROFILE
                     <i class="far fa-smile-beam"></i> .</p> 
            </div>
            <div class="iconTab">
                <a href="https://github.com/ShrillShrestha" target="_blank"> <i class="fab fa-github"></i> </a>
                <a href="https://stackoverflow.com/users/9889100/shrillshr" target="_blank"> <i class="fab fa-stack-overflow"></i> </a>
                <a href="https://www.linkedin.com/in/shrill-shrestha567/" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                <a href="mailto:shrill.shrestha@gmail.com?subject=Shrill Shresth inqury"> <i class="far fa-envelope"></i> </a>
            </div>
        </div>

        <div class="artfolio">
            <div class="flexB">
                <img class="img-in" src="/resources/hoodie.svg" alt="guy">
            </div>
        </div>  
    </div>           
  
<%- include("./partials/footer") %>