<%- include("./partials/header") %>
        <div class="intro">
            <div class="int1">
                <div class="indent-intro">
                    <strong class="intro-name"> HI, I'M SHRILL SHRESTRHA.</strong> 
                    <p class="intro-para">I'M CURRENTLY A COMPUTER SCIENCE STUDENT IN MONROE, LA. WELCOME TO MY PROFILE <i class="far fa-smile-beam"></i> .</p> 
                </div>
            </div> 
        </div>

        <div class="artfolio">
            <div class="flexB">
                <img class="img-in" src="/resources/guy.svg" alt="guy">
            </div>
        </div>  
  
<%- include("./partials/footer") %>