/*
Global
*/
html, body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

div.welcome{
    height: 100%;
    background-color: #222831;
    padding: 2em 2em;
    overflow: hidden;
}

.navBar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navBar a{
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.openbtn{
    margin-right: 5.5em;
}

/*Overlay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.98);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 3vw;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #111010;
}
  
.overlay .closebtn {
    position: absolute;
    top: 27px;
    right: 55px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*---------------------------------------------------------------------------------------------------*/
/*
Home Page
*/
.row{
    display: flex;
    height: 100%;
}

.intro, .artfolio{
    height: 100%;
    display: inline-block;
}

.intro{
    width: 65%;
    margin: 1em;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: white;
    letter-spacing: 0.001em;
}

.indent-intro{
    display: inherit;
    flex-direction: column;
    height: 40%;
    justify-content: flex-end;
    padding-left: 1em;
    border-left: solid white;
}

.intro-name{
    font-size: 3vw;
}

.intro-para{
    font-size: 2vw;
    line-height: 1.1em;
}

.artfolio{
    margin-top: 1.5em;
    width: 35%;
    padding-top: 1.5rem;
}

.flexB, .flexB1{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.img-in{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.iconTab i{
    margin-left: 1em;
    font-size: 3vw;
}

.iconTab a{
    text-decoration: none;
    color: inherit;
}

/*--------------------------------------------------------------------------------------------*/
/*
About page
*/

.flexB1{
    margin-left: 1em;
}

.life-img{
    height: 75%;
    border-right: .5em solid rgba(255,255,255,0.98);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img2{
    margin-right: 4em;
}

.para{
    width: 75%;
    margin: auto;
    color: #fff;
}

@media screen and (max-width: 575px){
    .artfolio-abt{
        width: 0;
        display: none;
    }

    .intro-abt{
        width: 100%;
    }
}

/*--------------------------------------------------------------------------------------------*/
/*
Contact page
*/

.contactTab{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cTab-in{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cTab-in span{
    margin-left: .5em;
}

.contactTab i{
    margin-left: 1em;
    font-size: 3vw;
}

.contactTab a{
    text-decoration: none;
    color: inherit;
    margin: .5em;
}

.cTab-in a span{
    display: inline-block;
    position: relative;
}

.cTab-in a span:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.cTab-in a span:hover:after {
    width: 100%;
    left: 0;
}

/*--------------------------------------------------------------------------------------------*/
/*
Blog Page and Projec Page
*/

.blog-block{
    margin-top: 6em;
    margin-left: 3em;
    color: #fff;
    font-weight: bolder;
}

.blg{
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.blg a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    display: inline-block;
    position: relative;
}

.blg a:after{
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #fff;
    width: 0;
}

.blg a:hover:after{
    width: 100%;
}

.blg p, .blg h1{
    margin: 0;
}

.blg h1{
    font-weight: 600;
}

.blg p{
    padding-top: .5em;
    font-weight: 300;
}