<%- include("../partials/header") %>

    <div class="contactTab">
        <div class="cTab-in">
            <a href="https://github.com/ShrillShrestha" target="_blank"> 
                <i class="fab fa-github"></i>
                <span> GITHUB </span> 
            </a>
            <a href="https://stackoverflow.com/users/9889100/shrillshr" target="_blank"> 
                <i class="fab fa-stack-overflow"></i>
                <span> STACKOVERFLOW </span> 
            </a>
            <a href="https://www.linkedin.com/in/shrill-shrestha567/" target="_blank">
                <i class="fab fa-linkedin"></i>
                <span> LINKEDIN </span> 
            </a>
            <a href="mailto:shrill.shrestha@gmail.com?subject=Shrill Shresth inqury">
                <i class="far fa-envelope"></i>
                <span> EMAIL </span> 
            </a>
        </div> 
    </div>

<%- include("../partials/footer") %>